<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>


	<typeAliases>
		<typeAlias alias="SearchVo" type="com.hw.shop.common.SearchVo" />
		<typeAlias alias="CodeVo" type="com.hw.shop.common.CodeVo" />
		
		<typeAlias alias="BDMAVo" type="com.hw.shop.bd.ma.vo.BDMAVo" />
		<typeAlias alias="USMAVo" type="com.hw.shop.us.ma.vo.USMAVo" />
		<typeAlias alias="PRMAVo" type="com.hw.shop.pr.ma.vo.PRMAVo" />
		<typeAlias alias="PRCAVo" type="com.hw.shop.pr.ca.vo.PRCAVo" />
		<typeAlias alias="DEMAVo" type="com.hw.shop.de.ma.vo.DEMAVo" />
		
	</typeAliases>
	<mappers>
		<mapper resource="sqlmap/BD.xml" />
	</mappers>

</configuration>

